/* Tổng quan */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Màu nền nhạt */
}

/* Header */
header {
    text-align: center;
    background-color: #343a40; /* Màu tối */
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
    
}

/* Navigation */
.navbar {
    background-color: #007bff; /* Màu xanh chủ đạo */
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: #d1ecf1;
}

.navbar-nav .nav-link {
    color: #330000;
}

.navbar-nav .nav-link:hover {
    color: #d1ecf1;
}


#carouselExampleFade{
    width: 1000px;
}

body{
    margin: auto;
    padding: 0%;
}
#footer {
    padding: 30px 20px;
    background-color: #212529; /* Màu tối */
    color: white;
}

#footer h2 {
    color: #007bff;
}

#footer p {
    margin: 5px 0;
}

#footer i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #007bff;
}

#footer i:hover {
    color: #d1ecf1;
}


h1{
    text-align: center;
}
    
h3{
    color: #880000;
    text-align: center;
}

p{
    font-size: large;
}

